<!-- include header -->
<% include partials/header %>
  

   
        <div class="container-fluid col-xs-4 col-xs-offset-4" style="background-color: #ccccff; border-radius: 8px; border: 3px solid; margin-top: 1%; margin-bottom: 1%;">    
    <form class="form-horizontal" method="post" action="/update/<%= doc._id%>">
      <div style="width: 90%;height: 30px; text-align: center; vertical-align: middle; border-radius: 5px; line-height: 6%;"> 
       <h3 style="margin-left: 8%;"> Forma e regjistrimit te pikave kufitare</h3> </div>
 
 
 
      <div class="form-group"> <h3 style="margin-left: 4%;">1 <hr style="border-top: 1px solid #777; width: 85%;margin-top: -14px; margin-right: 9%"> </div>
      <div class="form-group">
        <label class="control-label col-xs-3" for="pika_kufitare"  value="<%= doc.pika_kufitare %>" style="margin-left: 11%;" >Pika Kufitare:</label>
        <div class="col-xs-6">
            <select class="form-control" id="pika_kufitare" name="pika_kufitare">
                <option selected id="default" disabled="disabled">Zgjedh piken kufitare...</option>
                 <option id="Qafe_e_morines">Qafe e Morines</option>
               <option id="Merdare">Merdare</option>
               <option id="Dheu_i_bardhe">Dheu i bardhe</option>
               <option id="Jarinje">Jarinje</option>
               <option id="Vermice"> Vermice</option>
               <option id="Qafe_e_prushit">Qafe e Prushit</option>
               <option id="Hani_i_elezit"> Hani i Elezit</option>
               <option id="Bernjak"> Bernjak</option>
               <option id="Mucibabe"> Mucibabe</option>
               <option id="Kulle"> Kulle</option>
               <option id="Glloboqice"> Glloboqice</option>
               <option id="Mutivode">Mutivode</option>
              </select>
        </div>
      </div>
      <div class="form-group"> <h3 style="margin-left: 4%;">2<hr style="border-top: 1px solid #777; width: 85%;margin-top: -14px; margin-right: 9%"></h3>  </div>
     
      <div class="form-group">
        <div><h4 style="margin-left:10%;">Hyrje</h4></div>
        <label class="control-label col-xs-4" for="hyrje_min_minuta" style="margin-left: 6%;">Minimum:</label>
        <div class="col-xs-4">
          <input type="number" class="form-control" id="hyrje_min_minuta" name="hyrje_min_minuta" value="<%= doc.hyrje_min_minuta %>">
        </div>
        <label class="control-label col-xs-offset-0"> Minuta </label>
      </div>
 
 
      <div class="form-group">
          <label class="control-label col-xs-4" for="hyrje_max_minuta" style="margin-left: 6%;">Maximum:</label>
          <div class="col-xs-4">
            <input type="number" class="form-control" id="hyrje_max_minuta" name="hyrje_max_minuta" value="<%= doc.hyrje_max_minuta %>">
          </div>
          <label class="control-label col-xs-offset-0"> Minuta </label>
        </div>
 
     
     
      <div class="form-group">
        <h4 style="margin-left:10%;"> Dalje</h4>
        <label class="control-label col-xs-4" for="dalje_min_minuta" style="margin-left: 6%;">Minimum:</label>
        <div class="col-xs-4">
          <input type="number" class="form-control" id="dalje_min_minuta" name="dalje_min_minuta" value="<%= doc.dalje_min_minuta %>">
        </div>
        <label class="control-label col-xs-offset-0"> Minuta </label>
      </div>
 
 
      <div class="form-group">
          <label class="control-label col-xs-4" for="dalje_max_minuta" style="margin-left: 6%;">Maximum:</label>
          <div class="col-xs-4">
            <input type="number" class="form-control" id="dalje_max_minuta" name="dalje_max_minuta" value="<%= doc.dalje_max_minuta %>">
          </div>
          <label class="control-label col-xs-offset-0"> Minuta </label>
        </div>
 

 
        <div class="form-group"> <h3 style="margin-left: 4%;">3 <hr style="border-top: 1px solid #777; width: 85%;margin-top: -14px; margin-right: 9%">
      </h3>  </div>
     
        <div class="form-group">
          <h4 style="margin-left:10%;"> Hyrje</h4>
          <label class="control-label col-xs-4" for="hyrje_min_metra" style="margin-left: 6%;">Minimum:</label>
          <div class="col-xs-4">
            <input type="number" class="form-control" id="hyrje_min_metra" name="hyrje_min_metra" value="<%= doc.hyrje_min_minuta %>">
          </div>
          <label class="control-label col-xs-offset-0"> Metra </label>
        </div>
 
 
        <div class="form-group">
            <label class="control-label col-xs-4" for="hyrje_max_metra"  style="margin-left: 6%;">Maximum:</label>
            <div class="col-xs-4">
              <input type="number" class="form-control" id="hyrje_max_metra" name="hyrje_max_metra" value="<%= doc.hyrje_max_minuta %>">
            </div>
            <label class="control-label col-xs-offset-0"> Metra </label>
          </div>
 
       
       
        <div class="form-group">
          <h4 style="margin-left:10%;"> Dalje</h4>
          <label class="control-label col-xs-4" for="dalje_min_metra"  style="margin-left: 6%;">Minimum:</label>
          <div class="col-xs-4">
            <input type="number" class="form-control" id="dalje_min_metra" name="dalje_min_metra" value="<%=doc.dalje_min_metra %>">
          </div>
          <label class="control-label col-xs-offset-0"> Metra </label>
        </div>
 
 
        <div class="form-group">
            <label class="control-label col-xs-4" for="dalje_max_metra"  style="margin-left: 6%;">Maximum:</label>
            <div class="col-xs-4">
              <input type="number" class="form-control" id="dalje_max_metra" name="dalje_max_metra" value="<%=doc.dalje_miax_metra %>">
            </div>
            <label class="control-label col-xs-offset-0"> Metra </label>
          </div>
        
        
 
          <div class="form-group" style="margin-top: 13%; margin-left: 6%;"><hr style="border-top: 1px solid #777; width: 90%;margin-top: -20px; margin-right: 8%">        
              <div class="col-xs-offset-2 col-xs-12">
                <button type="submit" class="btn btn-primary" id="btn_dergo" style="margin-left: 6%; width: 20%;">Dergo</button>
                <button type="submit" class="btn btn-primary" id="btn_fshij" style="margin-left: 2%; width: 20%;">Fshij</button>
                    </div>
            </div>
 
    </form>
 
 
 
 
  </div>


    <% include partials/footer %>